<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477561254125-9cb9vtjihndl8mldl9c4ukpahmik5imr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477561254125-9cb9vtjihndl8mldl9c4ukpahmik5imr</string>
	<key>API_KEY</key>
	<string>AIzaSyBNLiyhvbavhx6tdj-qrjzxdUSGuQMJTxk</string>
	<key>GCM_SENDER_ID</key>
	<string>477561254125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogApp</string>
	<key>PROJECT_ID</key>
	<string>simpleblogapp-8743e</string>
	<key>STORAGE_BUCKET</key>
	<string>simpleblogapp-8743e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477561254125:ios:52fe6b31038bda506fdce4</string>
</dict>
</plist>